<div class="jumbotron jumbotron-fluid mt-3 mx-1">
    <div class="p-2">
        <h1 class="display-4">Descubre los lugares mas recónditos de Buenos Aires!</h1>
        <p class="lead">Como ciudadano porteño, realmente pase muchos años sin conocer en lo mas minimo mi ciudad,
            dado
            que siempre
            me mantenia en la rutina del viaje laboral y nada mas. Hasta que me decidí salir de la zona de confort y
            empecé a tomar rutas desconocidas, algunas intrigantes otras maravillosas y algunas que daban un poco de
            miedo.</p>
        <p class="lead">Asi empece a darme cuenta lo grande y variada que es la ciudad, mas allá de los lugares
            emblematicos que
            todos conocemos como si fueramos extranjeros. Hay una inmensidad de culturas y estilos sobrecogedores,
            donde
            muchas veces te preguntas si estas realmente en Bs.As. o fuiste teletransportado a Paris.</p>
        <p class="lead">Te invito, sobre todo en tiempos de cuarentena, a recorrer virtualmente esas zonas que tanto
            me
            maravillaron y que estoy seguro que mas de una nunca escuchaste hablar siquiera.</p>
        <div class="row align-items-center">
            <div class="col text-center mt-2">
                <a class="btn btn-primary btn-md" routerLink="/site">Comencemos!</a>
            </div>
        </div>
    </div>
</div>
