<div class="card m-4" id="index">
    <div class="card-header">
        <div id="img-head">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/img/south/PalacioBarolo/barolo1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/img/south/PalacioBarolo/barolo2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/img/south/PalacioBarolo/barolo3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/img/south/PalacioBarolo/barolo4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/img/south/PalacioBarolo/barolo5.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="text-center">
            Si decidimos hacer nuestro recorrido virtual por el sur, lo que encontraremos es el Palacio Barolo.
        </p>
        <p>
            El Palacio Barolo (también llamado Pasaje Barolo o Galería Barolo) es un edificio de oficinas ubicado
            sobre la Avenida de Mayo, en el barrio de Monserrat, en Buenos Aires. Fue diseñado por el
            italiano Mario Palanti e inaugurado en 1923.​ Hasta los años 1930 fue el más alto de la ciudad y de
            América del Sur al igual que su hermano 'gemelo' el Palacio Salvo, construido por el mismo arquitecto en
            Montevideo. En 1997 fue declarado Monumento Histórico Nacional.​ Incluye numerosas analogías y
            referencias a la Divina Comedia, del poeta Dante Alighieri.​ Fue pionero en el uso de hormigón armado
            dentro de un peculiar estilo ecléctico. En la cúspide posee un faro con 300 000 bujías. Tiene 100 metros
            de altura, ocupa una superficie de 1365 metros cuadrados y su frente es de 30,88 metros.
        </p>
        <p>
            El arquitecto italiano Mario Palanti construyó este palacio a pedido del empresario textil Luis Barolo,
            diseñando incluso los elementos de detalle como picaportes, lámparas y jaulas de los ascensores, en un caso
            de auténtico concepto integral.
        </p>
        <p>
            Entre el 7 de julio de 1923, fecha de la inauguración,​ y 1935 fue el edificio más alto de la ciudad,
            habiendo sido desplazado del primer puesto cuando se construyó el Kavanagh. Su altura en metros es
            equiparable a la de un vigesimocuarto piso actual.
        </p>
        <p>
            En la cúspide posee un faro con una lámpara de 5000 watts, desde que fue puesto en valor en el año 2010 y
            declarado "Faro del Bicentenario". En sus inicios la luminaria era un arco voltaico con potencia de 300.000
            bujías. La obra costó m$n 4.500.000, y para ella se utilizaron 650.000 kilos de acero, 3.500.000 ladrillos y
            70.000 barricas de cemento Portland.
        </p>
        <p>
            Todos los materiales decorativos fueron importados, como por ejemplo el mármol de Carrara utilizado para los
            revestimientos.
        </p>
        <p>
            Ya que por la zona corre, entubado, el viejo Arroyo Tercero del Medio, fue necesario que los cimientos del
            edificio contemplaran el paso del curso de agua. Así, desde el sótano del Palacio Barolo es posible escuchar
            como corre el río por el entubamiento.
        </p>
        <p>
            La construcción para su época fue una gran innovación por el uso artístico del hormigón armado dentro de un
            peculiar estilo ecléctico (llamado por muchos "romántico"), con reminiscencias del gótico y especialmente
            del arte islámico de la India.
        </p>
        <p>
            El Barolo se inscribe dentro de corrientes como el art nouveau o el art decó, pero se trata en realidad de
            una pieza única en su tipo, realizada en un estilo propio cultivado por Palanti.
        </p>
        <p>
            En 1997 este edificio fue declarado Monumento Histórico Nacional.​
        </p>
        <p>
            El faro ubicado en la cima de la torre del Palacio Barolo volvió a funcionar el 25 de septiembre de 2010. Se
            proyectó un haz de luz sobre la ciudad de Buenos Aires como parte de los festejos del Bicentenario y cada
            día 25 de cada mes se iluminó durante media hora el cielo nocturno porteño desde la torre, hasta el 25 de
            mayo de 2010.
        </p>
        <p>
            En 2012, se estrenó El rascacielos latino, un documental dirigido por Sebastián Schindel que analiza la
            historia y las curiosidades en el diseño del edificio.
        </p>
        <p>
            Desde el año 2015, durante todas las noches del mes de octubre, se envuelve con “una máscara” el vidrio del
            Faro del Palacio Barolo para que su luz se “tiña” de rosa y recuerde a la población la importancia de la
            concientización y prevención del cáncer de mama. Esta acción lumínico sanitaria la auspicia LALCEC (Liga
            Argentina de Lucha contra el Cáncer) y la organiza la empresa pionera en generar visitas guiadas en el
            edificio, Palacio Barolo Tours.
        </p>
        <p class="mb-0 text-center">
            Frente del Palacio
        </p>
        <div class="map-responsive">
            <iframe
                src="https://www.google.com/maps/embed?pb=!4v1597795908588!6m8!1m7!1sCAoSLEFGMVFpcE5lTnJOb2ZvaUMzR3M0anBnX1lWdjBiZ01ZejF1SU10eFhqNFhR!2m2!1d-34.6095914!2d-58.3858428!3f200!4f20!5f0.7820865974627469"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
        <p class="mb-0 text-center">
            Interior del Palacio
        </p>
        <div class="map-responsive">
            <iframe
                src="https://www.google.com/maps/embed?pb=!4v1597795955864!6m8!1m7!1sCAoSLEFGMVFpcFByUy1rNVE3V3d2TFdoQWJRMG9Obmp1b05VVjYwaFVaOWVoZGxu!2m2!1d-34.60954710000001!2d-58.3858411!3f158.5413969774014!4f7.3588970668476605!5f0.7820865974627469"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </div>
    <p class="mb-0 text-center">
        Como llegar
    </p>
    <div class="map-responsive m-3">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d3283.901162703462!2d-58.38590933416743!3d-34.60666071516206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco%2C%20Avenida%209%20de%20Julio%2C%20CABA!3m2!1d-34.603738899999996!2d-58.381570399999994!4m5!1s0x95bccadad85a755b%3A0x596a2eade487263a!2sPalacio%20Barolo%2C%20Av.%20de%20Mayo%201370%2C%20C1085%20CABA!3m2!1d-34.6095914!2d-58.3858428!5e0!3m2!1ses-419!2sar!4v1597795987555!5m2!1ses-419!2sar"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
    <div class="card-footer">
        <div class="row align-items-center">
            <div class="col text-center mt-2">
                <a class="btn btn-primary btn-md" routerLink="/site">Estrella Cardinal</a>
            </div>
            <div class="col text-center mt-2">
                <a class="btn btn-primary btn-md" routerLink="/site">Pronto habra mas!</a>
            </div>
        </div>
    </div>
</div>