<div class="card m-4" id="index">
    <div class="card-header">
        <div id="img-palace">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/img/east/cck/cck1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/img/east/cck/cck2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/img/east/cck/cck3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/img/east/cck/cck4.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="text-center">
            Continuando por el este de la ciudad nos toparemos con el centro cultural Kirchner
        </p>
        <p>
            Centro Cultural Kirchner es un espacio para artes plásticas, espectáculos musicales y exposiciones,
            inaugurado el 21 de mayo de 2015 y ubicado en el edificio que fuera anteriormente sede del Palacio de
            Correos y Telecomunicaciones de la Ciudad Autónoma de Buenos Aires. Es el más importante en
            tamaño de América Latina y el tercero a nivel mundial junto al Centro Pompidou, de Paris; el Foro
            Internacional de Tokio; y el Lincoln Center, de Nueva York.​ Su nombre rinde homenaje al expresidente
            argentino Néstor Kirchner.
        </p>
        <p>
            Al acercarse las conmemoraciones del bicentenario de la Revolución de Mayo, el gobierno nacional resolvió
            instalar en el edificio histórico del Correo Central el «Centro Cultural del Bicentenario» y llamó, en 2006,
            a un concurso internacional de anteproyectos a fin de decidir qué nuevo uso darle para concretar tal
            propósito. El edificio había sido construido por encargo de Ramón J. Cárcano, director nacional de Correos
            en 1890, según un proyecto del francés Norbert Maillart. Maillart, formado en la École des Beaux-Arts, fue
            convocado por Cárcano
            en el marco de una renovación edilicia de Buenos Aires financiada con los enormes recursos del modelo
            agroexportador.
        </p>
        <p>
            La idea para el área consistió en la creación del Parque del Bicentenario como pulmón para el área
            micro-centro y a la vez un lugar de encuentro y sociabilidad ciudadana, donde puedan conocerse las novedades
            culturales, artísticas y recreativas.
        </p>
        <p>
            El centro cuenta con más de 100 mil metros cuadrados, más de diez salas de múltiples usos y una capacidad de
            hasta 5000 visitantes. Su inauguración definitiva se realizó el 21 de mayo de 2015, en el marco de las
            celebraciones por la Revolución de Mayo.
        </p>
        <p>
            El día de su inauguración se descubrió una placa en honor al expresidente Néstor Kirchner que dice: "Es un
            edificio con valor histórico y patrimonial colmado de un alto contenido simbólico para la comunidad en
            general y para Néstor Kirchner en particular, ya que era hijo de un trabajador postal, quien en sus viajes
            desde Río Gallegos a Buenos Aires solía visitar el edificio y recorrer sus instalaciones".
        </p>
        <p class="mb-0 text-center">
            Frente del centro cultural
        </p>
        <div class="map-responsive mb-4">
            <iframe
                src="https://www.google.com/maps/embed?pb=!4v1597794230261!6m8!1m7!1sCAoSLEFGMVFpcFBhZF9QS29weGEyWkxNdEJsNDZNRzZEOUVWdlRhZmR1YW1uMlpU!2m2!1d-34.6043298!2d-58.3691953!3f0.10839500858577367!4f36.462482216672214!5f0.7820865974627469"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
        <p class="mb-0 text-center">
            Interior del centro cultural
        </p>
        <div class="map-responsive">
            <iframe
                src="https://www.google.com/maps/embed?pb=!4v1597794311034!6m8!1m7!1sCAoSLEFGMVFpcE5zMTNkQjJxdENxa1pXV0RsRElFME81SV9lUUt1OXp2UnB0VWJT!2m2!1d-34.60390119!2d-58.36947888!3f9.037797958055705!4f29.977415729318295!5f0.7820865974627469"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </div>
    <p class="mb-0 text-center">
        Como llegar
    </p>
    <div class="map-responsive m-3">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d5212.873139033986!2d-58.375145296620516!3d-34.606580837438955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco%2C%20Av.%209%20de%20Julio%20s%2Fn%2C%20C1043%20CABA!3m2!1d-34.603738899999996!2d-58.381570399999994!4m5!1s0x95a3353283598701%3A0xff14e7edde2f5152!2sCentro%20Cultural%20Kirchner!3m2!1d-34.6040701!2d-58.369505999999994!5e0!3m2!1ses-419!2sar!4v1597794391180!5m2!1ses-419!2sar"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
    <div class="card-footer">
        <div class="row align-items-center">
            <div class="col text-center mt-2">
                <a class="btn btn-primary btn-md" routerLink="/east-route">Anterior</a>
            </div>
            <div class="col text-center mt-2">
                <a class="btn btn-primary btn-md" routerLink="/site">Pronto habrá mas!</a>
            </div>
        </div>
    </div>
</div>