.northArrow {
    position: absolute; 
    left: 41%; 
    bottom: 90%;
}

@media (min-width: 1200px) { 
     #img-obelisco {
        width: 70%;
        padding-left: 30%;
     }

     .northArrow {
        position: absolute; 
        left: 48.5%; 
        bottom: 93%;
     }
}

