.card {
   background: #7F7FD5;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.northArrow {
   position: absolute;
   right: 45%;
   bottom: 93%;
}

.westArrow {
   position: absolute;
   right: 95%;
   bottom: 45%;
}

.southArrow {
   position: absolute;
   right: 44%;
   top: 93%;
}

.eastArrow {
   position: absolute;
   left: 95%;
   bottom: 45%;
}

@media (min-width: 1200px) {
   #img-obelisco {
      width: 70%;
      padding-left: 30%;
   }
   .northArrow {
      position: absolute;
      right: 49.2%;
      bottom: 95%;
   }
   .westArrow {
      position: absolute;
      right: 59%;
      bottom: 45%;
   }
   .southArrow {
      position: absolute;
      right: 49.2%;
      top: 94%;
   }
   .eastArrow {
      position: absolute;
      left: 59%;
      bottom: 45%;
   }
}