<div class="card m-4">
    <div class="card-header text-center">
        Comencemos desde el corazón de la ciudad
    </div>
    <div class="card-body" id="img-obelisco">
        <img src="./assets/img/Obelisco.jpg" class="img-rounded mb-1" width="100%" height="236" alt="Obelisco">
        <div class="text-center">
            El Obelisco
        </div>
    </div>
    <div class="card-footer text-center">
        <p>
            Desde el centro de la ciudad, partiremos en esta travesía.
        </p>
        <p class="pb-3">
            Vos tenes la posibilidad de elegir hacia donde querés llevar este viaje.
        </p>
        <div style="position: relative;">
            <div class="cardinalStar p-4">
                <img src="./assets/img/cardinalStar.png" class="img-fluid" alt="Obelisco">
            </div>
            <div class="northArrow">
                <a routerLink="/north-route">
                    <img src="./assets/img/northArrow.png"
                        class="rounded animate__animated animate__pulse animate__infinite"
                        style="width: 50px; height: 50px;" alt="Norte">
                </a>
            </div>
        </div>
    </div>
</div>